
* {
    text-align: center;
}


#mainTopic {
    color: blue;
}

h1 , h2 , h5 {
    font-family: Georgia; 
}

p {
    color: white;
    background-color: cornflowerblue;
}

button {
    color: azure;
    background-color: purple;
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-last-of-type(2n + 1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked + label {
    color: red;
}