#outer {
    height: 50px;
    width: 900px;
    border: 2px solid springgreen;
    background-color: pink;
    display: flex;
    border-radius: 15px;
    justify-content: flex-start;
    align-items: center;

}

.Option{
    height:50px;
    width:80px;
    border-radius:10px;
    margin-left:5px;
    font-size:24px;
    line-height:50px;
}