.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: widthAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate; */
    animation:widthAnimate 4s ease-in 0s infinite  normal;
}

@keyframes widthAnimate {
    0% {
        width: 10px;
        background-color: green;
        font-size: 10px;
    }
    50% {
        background-color: aqua;
    }
    70% {
        background-color: red;
    }

    100%{
        width: 400px;
        font-size: 40px;
        background-color: blueviolet;
        border-radius: 15px;
        color: white;
    }
}

@keyframes fontAnnimation {
    from{
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes colorAnimation {
    from {
        background-color: green;
    }
    to{
        background-color: blue;
    }
}