* {
    background-color: black;
   
    
}

h1 {
    color: white;
    text-align: center;
}

#container {
    width: 600px;
    height: 300px;
    background-color: aqua;
    border: 2px solid red;
    display: grid;
    margin: 10px auto;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 20px;
     /* justify-items: end; 
     justify-items: center;
    align-items: center; */
    place-items: center;
}

.item {
    height: 50px;
    width: 100px; 
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
    /* justify-items: start; */
}

.one{
    /* justify-self: end; */
    place-self: start;
}

/* .one {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3 ;
}  */

.two {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1/3; */
    grid-row: 1/span 3;
}